.LocationDetailBox {
    background-color: #748cf1;
    width: 230px !important;
    height: 110px;
    padding: 20px;
    padding-left: 25px;
    border-radius: 20px;
    color: white;
    margin: 0px 17px 0px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}