nav {
  background-color: black;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  width: 100px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a.active {
  color: #f0f2f5;
  font-weight: bold;
  border-bottom: 5px dotted;
  box-sizing: border-box;
}

nav a.active:hover {
  color: #f0f2f5 !important;
}

nav a:hover {
  text-decoration: none;
  color: #f0f2f5;
}

nav a.active.navbar-brand {
  border-bottom: none;
}

nav a:not(.navbar-brand):hover {
  font-weight: bold;
}

.nav-button {
  width: 20px;
  text-align: center;
  color: white;
  font-size: x-large;
  display: flex;
  align-items: center;
}

/* .nav-add {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.nav-button:hover {
  color: #f0f2f5;
  /* font-size: xx-large; */
}

.nav-settings {
  margin-right: 25px;
  margin-left: 25px;
}

