.SearchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 43px;
}

.SearchBar input {
    width: 340px;
    border: none;
    outline: none;
    background-color: #ECECEC;
    color: #2E2E2E;
    font-size: 18px;
    border-radius: 7px 0 0 7px;
    padding: 11px 17px 11px 17px;
}

.SearchBar button {
    width: 117px;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: #1E2A5A;
    color: white;
    font-size: 18px;
    border-radius: 0 7px 7px 0;
}

.SearchBarText {
    color: #2E2E2E;
    font-size: 18px;
    margin: 15px 0 0 0;
}