.SettingsForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    width: 243px;
    font-family: "Inter";
}

.SettingsFormSave {
    border-radius: 7px;
    background-color: #1E2A5A;
    color: white;
    border-width: 0px;
    font-size: 18px;
    padding: 11px 32px 11px 32px;
    margin-top: 42px;
    margin-bottom: 25px;
}

.SettingsFormSave:hover {
    background-color: #283465;
}

.SettingsFormLabel {
    font-weight: 700;
    margin: 19px 0 6px 0;
    
}

.SettingsFormOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 243px;
    text-align: left;
    font-size: 18px;
    font-family: "Inter";
}

.SettingsForm option {
    background-color: #ECECEC;
    width: 243px;
    border: 0;
    outline: none;
    font-family: "Inter";
    font-size: 18px;
    padding: 11px;
}

.SettingsForm select {
    background-color: #ECECEC;
    width: 243px;
    border: 0;
    outline: none;
    font-family: "Inter";
    font-size: 18px;
}

.SettingsFormSelect {
    background-color: #ECECEC;
    padding: 11px;
    border-width: 0;
    border-radius: 7px;
    width: 243px;
    height: 25px;
    display: flex;
}
